package {{apiPackage}}

import de.jensklingenberg.ktorfit.http.*

{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
@ProvidedApi
interface {{classname}} {
    {{#operation}}
    @{{httpMethod}}("{{{path}}}")
    suspend fun {{operationId}}({{^allParams}}){{/allParams}}{{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{^-last}}, {{/-last}}{{#-last}}){{/-last}}{{/allParams}}{{#returnType}}: {{{returnType}}}{{/returnType}}

    {{/operation}}
}
{{/operations}}
